<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="manifest.json" />

  <!-- Primary Meta Tags -->
  <title>Secure Pass</title>
  <meta name="title" content="Secure Pass" />
  <meta name="description" content="Guarde suas senhas e segredos na segurança do seu dipositivo" />
  <meta name="author" content="joaoeymard.dev" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://securepass.joaoeymard.dev/" />
  <meta property="og:title" content="Secure Pass" />
  <meta property="og:description" content="Guarde suas senhas e segredos na segurança do seu dipositivo" />
  <meta property="og:image" content="https://securepass.joaoeymard.dev/images/icons/96.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://securepass.joaoeymard.dev/" />
  <meta property="twitter:title" content="Secure Pass" />
  <meta property="twitter:description" content="Guarde suas senhas e segredos na segurança do seu dipositivo" />
  <meta property="twitter:image" content="https://securepass.joaoeymard.dev/images/icons/96.png" />

  <!-- Styles -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="assets/notyf/notyf.min.css">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body class="bg-light">
  <main>
    <nav class="navbar navbar-expand-sm navbar-dark py-3">
      <div class="container">
        <span class="navbar-brand mb-0">SecurePass</span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-principal"
          aria-controls="menu-principal" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu-principal">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#mdl-config">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-gear-fill mb-1" viewBox="0 0 16 16">
                  <path
                    d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                </svg>
                Configurações
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/JoaoEymard/secure-pass" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-github mb-1" viewBox="0 0 16 16">
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-5" v-show="false">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

    <section class="container my-5" style="display: none" v-show="!storageConfig.find() || !storageConfig.find().hash">
      <div class="card card-body p-3 p-sm-5 text-center text-secondary">
        <h3 class="mb-4">- Segure Pass -</h3>
        <p>
          Essa é uma ferramenta que tem como objetivo guardar seus segredos localmente.<br />
          Um segredo pode ser uma senha, token, credenciais de acesso, variáveis de ambiente ou qualquer texto do seu
          interesse.
        </p>

        <p class="mt-3 mb-2">
          Para iniciar, crie um código de critografia ou importe seus dados no menu de configurações.
        </p>

        <button class="btn btn-sm btn-outline-primary px-3 mx-auto" style="width: fit-content;" data-bs-toggle="modal"
          data-bs-target="#mdl-config">Abrir as configurações</button>
      </div>
    </section>

    <section class="bg-white shadow-sm mb-3 py-3" style="display: none"
      v-show="storageConfig.find() && storageConfig.find().hash">

      <div class="container">
        <div class="row g-2 align-items-center">
          <div class="col-12 col-sm-3">
            <button type="button" class="btn btn-sm btn-primary w-100 pulse" data-bs-toggle="modal"
              data-bs-target="#mdl-secret-details">
              Novo
            </button>
          </div>
          <form class="col-12 col-sm-7 offset-sm-2" v-on:submit.prevent="search_secret">
            <div class="row g-2">
              <div class="col-4">
                <div class="input-group input-group-sm">
                  <select class="form-select border-secondary" name="tag">
                    <option value="">Tags</option>
                    <option v-bind:value="tag" v-for="tag in tags">{{tag.toUpperCase()}}</option>
                  </select>
                </div>
              </div>

              <div class="col-8">
                <div class="input-group input-group-sm">
                  <input type="search" name="search" class="form-control border-end-0 border-secondary"
                    autocomplete="off">
                  <button type="submit" class="btn btn-outline-secondary border-start-0">
                    Buscar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </section>

    <section class="container mb-5" style="display: none" v-show="storageConfig.find() && storageConfig.find().hash">
      <div class="card card-body shadow-sm py-3 p-sm-4">
        <div class="text-center" v-if="secrets.length == 0">
          <p class="mb-3">Nenhum segredo encontrado.</p>

          <button class="btn btn-sm btn-outline-primary px-3 mx-auto" style="width: fit-content;" data-bs-toggle="modal"
            data-bs-target="#mdl-secret-details">Adicionar um segredo</button>
        </div>

        <p class="fs-4" v-if="secrets.length > 0">Seus segredos:</p>
        <div id="list-secrets" class="accordion accordion-flush" v-if="secrets.length > 0">

          <div class="accordion-item" v-for="(s, ind) in secrets">
            <h2 v-bind:id="'secret-title' + ind" class="accordion-header">
              <button class="accordion-button collapsed py-2 px-3 w-100" type="button" data-bs-toggle="collapse"
                v-bind:data-bs-target="'#secret-details' + ind" aria-expanded="true">
                <div class="d-flex justify-content-between align-items-center w-100 me-2">
                  <span>{{ s.title }}</span>
                  <span class="fw-light text-muted">{{ new Date(s.updated_at).toLocaleString() }}</span>
                </div>
              </button>
            </h2>
            <div v-bind:id="'secret-details' + ind" class="accordion-collapse collapse" data-bs-parent="#list-secrets">
              <div class="accordion-body">

                <div class="row g-3 pt-2 pb-3">
                  <div class="col-md-7">
                    <span>Link:</span>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" v-bind:value="s.link" readonly>
                      <button class="btn btn-outline-secondary" type="button"
                        v-on:click="copyText(s.link)">Copiar</button>
                      <button class="btn btn-outline-secondary" type="button"
                        v-on:click="openLink(s.link)">Abrir</button>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <span>Tags:</span>
                    <input type="text" class="form-control form-control-sm" v-bind:value="s.tags" readonly>
                  </div>
                  <div class="col-12">
                    <span>Segredo:</span>
                    <textarea rows="4" class="form-control form-control-sm" v-bind:value="s.content || s.secret"
                      readonly></textarea>
                  </div>

                  <div class="col-6" v-if="s.created_at">
                    <span>Criado em:</span>
                    <input type="text" class="form-control form-control-sm"
                      v-bind:value="new Date(s.created_at).toLocaleString()" readonly>
                  </div>
                  <div class="col-6" v-if="s.updated_at">
                    <span>Atualizado em:</span>
                    <input type="text" class="form-control form-control-sm"
                      v-bind:value="new Date(s.updated_at).toLocaleString()" readonly>
                  </div>
                </div>

                <div class="d-flex flex-row-reverse">
                  <button type="button" class="btn btn-sm btn-primary px-3"
                    v-on:click="copyText(decrypted(s.secret))">Copiar
                    Segredo</button>
                  <button type="button" class="btn btn-sm btn-secundary px-3 me-2" v-on:click="show_secret(s)">{{
                    s.content ? 'Ocultar Segredo' : 'Mostrar Segredo'
                    }}</button>
                  <button type="button" class="btn btn-sm btn-outline-warning me-auto"
                    v-on:click="edit_secret(s)">Editar</button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <div id="mdl-secret-details" class="modal" tabindex="-1">
      <form class="modal-dialog modal-fullscreen">
        <div class="modal-content p-3 p-sm-4">
          <div class="modal-header border-0">
            <h5 class="modal-title">Detalhes do segredo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-3">

            <div class="row g-3">
              <div class="col-12">
                <span>Título: <span class="text-danger">*</span></span>
                <input name="title" type="text" class="form-control form-control-sm" maxlength="64"
                  v-model="secret.title" required>
              </div>
              <div class="col-12 col-sm-6">
                <span>Link / Host:</span>
                <input name="link" type="text" class="form-control form-control-sm" v-model="secret.link">
              </div>
              <div class="col-12 col-sm-6">
                <span>Tags:</span>
                <input name="tags" type="text" class="form-control form-control-sm" v-model="secret.tags">
              </div>
              <div class="col-12">
                <span>Segredo: <span class="text-danger">*</span></span>
                <a href="#" class="float-end text-decoration-none" v-on:click.prevent="gerar_secret_auto()">Gerar
                  Automaticamente</a>
                <textarea name="secret" class="form-control form-control-sm" rows="6" v-model="secret.content"
                  required></textarea>
              </div>
            </div>

          </div>
          <div class="modal-footer border-0 flex-row-reverse">
            <button type="submit" class="btn btn-sm btn-primary px-3">Salvar</button>
            <button type="reset" class="btn btn-sm btn-outline-secondary px-3 ms-auto">Limpar</button>
            <button type="button" class="btn btn-sm btn-danger px-3" v-if="secret.id"
              v-on:click="remove_secret">Deletar</button>
          </div>
        </div>
      </form>
    </div>

    <div id="mdl-config" class="modal" tabindex="-1">
      <form class="modal-dialog modal-xl">
        <div class="modal-content p-3 p-sm-4">
          <div class="modal-header border-0">
            <h5 class="modal-title">Configurações</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-3">

            <div class="row g-3">
              <div class="col-12">
                <span>Hash criptográfico:</span>
                <div class="input-group">
                  <input name="hash" type="text" class="form-control form-control-sm" maxlength="256"
                    v-bind:value="config.hash || ''" required autocomplete="off">
                  <button class="btn btn-sm btn-outline-secondary" type="button" v-on:click="gerar_hash">Gerar
                    aleatório</button>
                </div>
                <small class="text-secondary mb-0">
                  Nós usamos esse código para criptografar e descriptografar seus segredos, guarde com segurança.
                </small>
              </div>

              <div class="col-12 col-sm-6">
                <span>Tamanho da sugestão de segredos:</span>
                <input name="auto_secret_lenght" type="number" class="form-control form-control-sm"
                  v-bind:value="config.auto_secret_lenght || 32">
                <small class="text-secondary mb-0">
                  Defina um tamanho mínimo para a geração aleatória de segredos.
                </small>
              </div>
              <div class="col-12 col-sm-6">
                <span>Tempo exibindo o segredos:</span>
                <input name="limit_view_secret_sec" type="number" class="form-control form-control-sm"
                  v-bind:value="config.limit_view_secret_sec || 5">
                <small class="text-secondary mb-0">
                  Defina o tempo (em segundos) que o segredo ficará visível.
                </small>
              </div>

              <div class="col-12">
                <div class="d-flex flex-row-reverse">
                  <button type="submit" class="btn btn-sm btn-primary px-3 ms-auto">Salvar</button>
                </div>
              </div>

              <div class="col-12">
                <hr>
              </div>

              <div class="d-flex align-items-center my-2">
                <div class="col-9">
                  <p class="m-0 p-0 fs-5">Importar dados</p>
                  <small class="text-secondary">
                    Recupere seus secredos previamente salvos.
                  </small>
                </div>
                <div class="col-3">
                  <label for="import-secret" class="btn btn-sm btn-outline-secondary d-block ms-auto"
                    style="width: fit-content;">Importar</label>
                  <input id="import-secret" type="file" class="form-control form-control-sm" hidden>
                </div>
              </div>
              <div class="d-flex align-items-center my-2">
                <div class="col-9">
                  <p class="m-0 p-0 fs-5">Exportar dados</p>
                  <small class="text-secondary">
                    Salvar seus secredos.
                  </small>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-sm btn-outline-secondary d-block ms-auto"
                    onclick="exportData()">Exportar</button>
                </div>
              </div>
              <div class="d-flex align-items-center my-2">
                <div class="col-9">
                  <p class="m-0 p-0 fs-5">Apagar dados</p>
                  <small class="text-secondary">
                    Essa ação irá apagar permanentemente seus secredos.
                  </small>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-sm btn-danger d-block ms-auto"
                    v-on:click="drop_database()">Apagar</button>
                </div>
              </div>

            </div>

          </div>
        </div>
      </form>
    </div>
  </main>

  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/notyf/notyf.min.js"></script>
  <script src="assets/export-from-json.min.js"></script>
  <script src="assets/crypto-js.min.js"></script>
  <script src="assets/vue.min.js"></script>
  <script src="assets/storage.js"></script>

  <script src="scripts/variables.js"></script>
  <script src="scripts/main.js"></script>

  <script>
    // Create an instance of Notyf 
    const notyf = new Notyf();

    const stSecretSave = (content, hideAlert = false) => {
      try {
        storageSecrets.push({
          id: uuid(),
          ...content,
          created_at: Date.now(),
          updated_at: Date.now(),
        });

        if (!hideAlert) notyf.success('Segredo salvo com sucesso.');
      } catch (error) {
        notyf.error('<b>Erro!</b><br>' + error.message);
        console.log('[stSecretSave]', error);
      }
    }

    const stSecretUpdate = (id, content, hideAlert = false) => {
      try {
        storageSecrets.map((s) => s.id === id ? ({
          ...s,
          ...content,
          updated_at: Date.now(),
        }) : s);

        if (!hideAlert) notyf.success('Segredo atualizado com sucesso.');
      } catch (error) {
        notyf.error('<b>Erro!</b><br>' + error.message);
        console.log('[stSecretUpdate]', error);
      }
    }

    const stSecretDelete = (id, hideAlert = false) => {
      try {
        indSecret = storageSecrets.data.findIndex((s) => s.id === id);
        storageSecrets.remove(indSecret);

        if (!hideAlert) notyf.success('Segredo excluído com sucesso.');
      } catch (error) {
        notyf.error('<b>Erro!</b><br>' + error.message);
        console.log('[stSecretDelete]', error);
      }
    }

    const stConfigSave = (content) => {
      try {
        storageConfig.data = {
          ...variables,
          ...content,
        };

        notyf.success('Configurações salvas com sucesso.');
      } catch (error) {
        notyf.error('<b>Erro!</b><br>' + error.message);
        console.log('[stConfigSave]', error);
      }
    }

    const stGetTags = () => [...new Set(
      [].concat(...(storageSecrets.data || []).map(s => s.tags.toLowerCase().split(',')))
    )].filter(e => e.trim())

    const v = new Vue({
      el: 'main',
      data: {
        tags: stGetTags(),
        secrets: [],
        secret: {},
        config: {},
      },
      methods: {
        save_secret: async function () {
          if (!this.secret.id) {
            stSecretSave(serialize.formSecretDetails());
          } else {
            stSecretUpdate(this.secret.id, serialize.formSecretDetails());
          }

          this.search_secret();
        },
        remove_secret: function () {
          stSecretDelete(this.secret.id);
          bsMdlSecretDetails.hide();

          this.search_secret();
        },
        edit_secret: function ({ id }) {
          const stSecret = storageSecrets.find((s) => s.id === id)
          this.secret = {
            ...stSecret,
            content: decrypted(stSecret.secret)
          };

          bsMdlSecretDetails.show();
        },
        show_secret: async function (secret) {
          if (secret.content) {
            delete secret.content;
          } else {
            secret.content = decrypted(secret.secret);
            setTimeout(() => this.show_secret(secret), 1000 * this.config.limit_view_secret_sec);
          }

          this.$forceUpdate();
        },
        search_secret: function () {
          const $search = document.querySelector('input[name=search]');
          const $tag = document.querySelector('select[name=tag]');

          const regex = new RegExp($search.value, 'ig');
          const arrTags = tag => tag.split(',').map(e => e.trim())

          this.secrets = storageSecrets.filter(
            s => (
              regex.test(s.title) &&
              (!$tag.value || s.tags.split(',').some(t => t.trim().toLowerCase() === $tag.value.trim().toLowerCase()))
            )
          );

          this.tags = stGetTags();
        },

        gerar_secret_auto: function () {
          this.secret = {
            ...this.secret,
            content: randPassword(this.config.auto_secret_lenght)
          };
        },
        gerar_hash: function () {
          this.config = {
            ...this.config,
            hash: randPassword(this.config.hash_lenght),
          }
        },

        drop_database: function () {
          storageConfig.clear();
          storageSecrets.clear();

          bsMdlConfig.hide();
          notyf.success('Banco de dados apagado com sucesso.');
          window.onload();
        },

        copyText: function (str) {
          navigator.clipboard.writeText(str);
          notyf.success('Texto copiado!');
        },
        openLink: function (str) {
          window.open(str, '_blank');
        }
      }
    });

    const $formSecretDetails = document.querySelector('#mdl-secret-details form');
    const bsMdlSecretDetails = new bootstrap.Modal($formSecretDetails.parentElement);
    const $formConfig = document.querySelector('#mdl-config form');
    const bsMdlConfig = new bootstrap.Modal($formConfig.parentElement);

    $formConfig.addEventListener('submit', async function (el) {
      el.preventDefault();

      stConfigSave(serialize.formConfig());
      v.config = storageConfig.data;
      bsMdlConfig.hide();
    })
    $formConfig.parentElement.addEventListener('shown.bs.modal', function (ev) {
      ev.target.querySelector('input').focus();
    })
    $formConfig.querySelector('#import-secret').addEventListener('change', async function (ev) {
      try {

        const { data, hash } = JSON.parse(
          await getFileReader(ev.target.files[0])
        );

        const importSecret = JSON.parse(decrypted(data, hash));
        let count = 0;

        for (let impt of importSecret) {
          const stSecret = storageSecrets.find((s) => s.id === impt.id);

          if (!stSecret) {
            stSecretSave({
              ...impt,
              secret: encrypted(decrypted(impt.secret, hash)),
            }, true);
            count++;
            continue;
          }

          if (stSecret.id && stSecret.updated_at < impt.updated_at) {
            stSecretUpdate(stSecret.id, {
              ...impt,
              secret: encrypted(decrypted(impt.secret, hash)),
            }, true);
            count++;
            continue;
          }
        }

        notyf.success('Importação realizada com sucesso. ' + count + ' segredos importados.');

        bsMdlConfig.hide();
        v.search_secret();

      } catch (error) {
        console.log(error);
        notyf.error(error.message || 'Falha ao carregar seus segredos');
      } finally {
        ev.target.value = '';
      }
    })

    $formSecretDetails.addEventListener('submit', async function (el) {
      el.preventDefault();

      await v.save_secret();
      bsMdlSecretDetails.hide();
    })
    $formSecretDetails.parentElement.addEventListener('shown.bs.modal', function (ev) {
      ev.target.querySelector('input').focus();
    })
    $formSecretDetails.parentElement.addEventListener('hidden.bs.modal', function (el) {
      el.target.querySelector('form').reset();
      v.secret = {}
    })

    window.onload = async () => {
      if (!Array.isArray(storageSecrets.filter())) {
        storageSecrets.data = [];
      }

      v.secrets = storageSecrets.filter() || [];
      v.config = storageConfig.find() || { ...variables };
    }
  </script>
</body>

</html>
